@import '../../configs/colors.scss';

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(100% - 10vw);
  max-width: 1920px;
  margin: 1rem 0;
  gap: 2rem;

  & img {
    width: 4rem;
    height: 4rem;
    margin-left: 5vw;
    -webkit-filter: invert(100%);
    ;
  }

  & .title {
    margin-right: 5vw;
  }

  @media(max-width:375px) {
    justify-content: center;
  }
}