.Stop-watch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  gap: 3rem;

  &__button {
    justify-content: center;
  }

  &__results {
    display: flex;
    text-align: center;
  }

  &__timer {
    display: flex;
    justify-content: center;
    align-items: center;

    &__digits {
      font-size: 3rem;
      color: #f5f5f5;

      &.mili {
        color: #e42a2a;
      }
    }
  }

  @media(max-width:768px) {
    & {
      gap: 0.5rem;
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }
}