.stop-watch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  gap: 3rem;

  & .settings__button {
    justify-content: center;
  }

  &__results {
    display: flex;
    text-align: center;
  }
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;

  &__digits {
    font-size: 3rem;
    color: #f5f5f5;

    &.mili {
      color: #e42a2a;
    }
  }
}