@import '../../app/configs/colors.scss';

.MainPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem 5vw;

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  & .button__send {
    width: 10rem;
  }

  & .MainForm {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2rem;
    width: 100%;

    & input {
      width: 20rem;
      height: 1.8rem;
      border-radius: 0.8rem;
      padding: 0 1rem;
    }

    &__text {
      width: 70%;
      background-color: $dark__gray;
      padding: 1rem;
      border-radius: 0.5rem;

      &_entered {
        color: $light__green;
      }

      &_current {
        border-radius: 0.2rem;
        background-color: $light__green;
        color: $black;
        white-space: pre;

        &_mistake {
          background-color: $red;
          white-space: pre;
        }
      }
    }

    @media(max-width:768px) {
      & {
        flex-direction: column;
        align-items: center;
      }

      &__text {
        order: 2;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    @media(max-width:375px) {

      &__text_entered,
      &__text_current,
      &__text_unwritten {
        font-size: 1.4rem;
      }
    }
  }

  & .Settings {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__header {
      align-self: start;
    }

    &__setup {
      flex-direction: column;
      gap: 1rem;

      &.active {
        display: flex;
      }

      &.inactive {
        display: none;
      }

      &_block {
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      &_button {
        display: flex;
        background-color: transparent;
        cursor: pointer;
        border: 0;
        gap: 1rem;
        align-items: center;
      }

      &_radio {
        width: 0.5rem;
        height: 0.5rem;
        background-color: $white;
        border-radius: 0.5rem;

        &.active {
          background-color: $green;
        }
      }

      &_input {
        height: 1.8rem;
        border-radius: 0.8rem;
        padding: 0 0.4rem;
        width: 2rem;
      }
    }

    &__button {
      display: flex;
      flex-direction: row;
      align-items: center;
      background: none;
      cursor: pointer;
      border: 0;
      width: 19rem;
      font-weight: bold;
      transition: 1s;

      &:hover {
        color: $hover__text;
      }
    }

    @media(max-width:768px) {
      & {
        align-items: center;
        gap: 3rem;
      }

      &__header {
        align-self: center;
        text-align: center;
      }

      &__setup.active {
        align-items: center;
      }
    }

    @media(max-width:375px) {
      &__button {
        font-size: 1.2rem;
      }

      &__header {
        align-self: center;
        text-align: center;
      }

      &__setup {
        &.active {
          align-items: center;
        }

        &_radio {
          width: 0.8rem;
          height: 0.8rem;
        }

        &_text {
          font-size: 1.2rem;
        }
      }
    }
  }

  @media(max-width: 1440px) {
    & {
      margin: 2rem 3vw;
    }

  }

  @media(max-width: 375px) {
    & .button__send {
      width: 14rem;
      font-size: 1.2rem;
      padding: 1rem;
    }

  }
}