@import '../../app/configs/colors.scss';

.MainPage {
  display: flex;
  flex-direction: column;
  width: calc(100% - 10vw);
  margin: 2rem 5vw;

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}

.MainForm {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  margin-top: 2rem;
  width: 100%;

  & input {
    width: 20rem;
    height: 1.8rem;
    border-radius: 0.8rem;
    padding: 0 1rem;
  }

  &__text {
    width: 80%;
    background-color: $dark__gray;
    padding: 1rem;
    border-radius: 0.5rem;
    &_entered {
      color: $light__green;
    }
    &_current {
      border-radius: 0.2rem;
      background-color: $light__green;
      color: $black;
      &_mistake {
        background-color: $red;
      }
    }
    &_unwritten {
      // color: $black;
    }
  }
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__setup {
    flex-direction: column;
    gap: 1rem;

    &.active {
      display: flex;
    }

    &.inactive {
      display: none;
    }

    &_block {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &_button {
      display: flex;
      background-color: transparent;
      cursor: pointer;
      border: 0;
      gap: 1rem;
      align-items: center;
    }

    &_radio {
      width: 0.5rem;
      height: 0.5rem;
      background-color: $white;
      border-radius: 0.5rem;

      &.active {
        background-color: $green;
      }
    }

    &_input {
      height: 1.8rem;
      border-radius: 0.8rem;
      padding: 0 0.4rem;
      width: 2rem;
    }
  }

  &__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 0;
    width: 19rem;
    font-weight: bold;
    transition: 1s;

    &:hover {
      color: $hover__text;
    }
  }
}