@import './app/configs/colors.scss';

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: $white;

  &::-moz-selection {
    background-color: $white;
  }

  &::selection {
    background-color: $white;
  }

  @media(max-width:1024px) {
    & {
      font-size: 16px;
    }
  }

  @media(max-width:768px) {
    & {
      font-size: 14px;
    }
  }

  @media(max-width:375px) {
    & {
      font-size: 12px;
    }
  }

  @media(max-width:320px) {
    & {
      font-size: 11px;
    }
  }
}

body {
  background-color: $black;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}

input {
  background-color: $gray;
  color: black;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: calc(100% - 10vw);
  max-width: 1920px;
  width: 100%;

  @media(max-width: 1440px) {
    & {
      // width: calc(100% - 6vw);
    }
  }
}

.arrow {

  &_active,
  &_inactive {
    width: 0.8rem;
    height: 0.8rem;
    border-top: 0.1rem solid $white;
    border-right: 0.1rem solid white;
    margin-right: 1rem;
  }

  &_active {
    transform: rotate(135deg);
    animation: setActive 0.4s;
  }

  &_inactive {
    transform: rotate(45deg);
    animation: setInactive 0.4s;
  }

  @media(max-width:375px) {

    &_active,
    &_inactive {
      width: 1.1rem;
    }
  }
}

.button__send {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  height: 1.8rem;
  background-color: $gray;
  color: $black;
  border-radius: 0.8rem;
  cursor: pointer;
  font-weight: bold;
}

@keyframes setActive {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(135deg);
  }
}

@keyframes setInactive {
  0% {
    transform: rotate(135deg);
  }

  100% {
    transform: rotate(45deg);
  }
}